altgraph==0.17.4
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
packaging==25.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
requests==2.32.3
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
